<footer class="bg-slate-800 text-slate-400 text-center py-4 text-xs mt-12 border-t border-slate-700">
        <p>&copy; Desenvolvido pela Subsecretaria Adjunta de Inovação e Tecnologia - SEMED</p>
</footer>
<script src="/js/main.js" defer></script>   
</body>
</html>